*{
    margin: 0;
    padding: 0;
    line-height: 1.7em;
}
body{
    box-sizing: border-box;
    flex-wrap: wrap;
    position: relative;
}
.navbar{
    width: 99vw;
    display: flex;
    justify-content: space-around;
    background-color: #f2f2f2;
    opacity: .8;
}
.navbar .logo{
    width: 75px;
    height: 70px;;
    margin: .3em;
}
nav ul{
    width: 30vw;
    display: flex;
    float: right;
    justify-content: space-around;
    padding: 1.3rem;
}
nav ul li{
    list-style: none;
    margin-top: .5em;
    z-index: 1;
}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    padding: .8rem;
    transition: .5s ease-in-out;
}
nav ul li a:hover{
    color: #7619f0;
    border-bottom: 2px solid #7619f0;
}
nav ul button{
    width: 7rem;
    height: 4.2vh;
    border: none;
    border-radius: 1.2em;
    background-color: #7619f0;
    color: #f2f2f2;
    margin: 0 1rem;
    cursor: pointer;
}
nav ul button:hover{
    border: 3px solid #7619f0;
    background-color: #f2f2f2;
    color: #7619f0;
    transition: .5s ease-in-out;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.container{
    width: 99.1vw;
    margin: auto;
    margin-top:-1em;
    flex-wrap: wrap;
}
.home{
    width: 100%;
    height: 100vh;
    background: url(./img/fotis-fotopoulos-DuHKoV44prg-unsplash.svg);
    margin: 1rem auto;
    background-size:  cover;
    background-repeat: no-repeat;
    display: flex;
}
.home-image img{
    width: 40vw;
    height: 100vh;
    border-radius: 1em 0em 0em 1em;
}
.home-texts{
    width: 27em;
    height: 20em;
    margin: auto;
    align-items: center;
    background-color: rgb(255, 255, 255);
    opacity: .5;
    border-radius: 1rem;
}
.home-texts h1{
    font-size: 4em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    padding: .3em;
    border-bottom: 4px solid #7619f0;
}
.home-texts h1 span{
    color: #7619f0;
}
.home-texts p{
    font-size: 1.3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    padding: .3em;
}

/* Experience section*/
.skills{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.skills div{
    width: 25em;
}
.skills-h2{
    color: #7619f0;
    font-size: 2.3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.skills ul{
    width: 100%;
    margin: auto;
}
.skills ul li{
    list-style: none;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
}

progress[value]{
    width: 90%;
    height: 1.2em;
    margin-top: 1em;
    margin-left: .5em;
    
}

/* about section*/
.about{
    width: 95%;
    height: 100vh;
    display: flex;
    margin: auto;
}
.about-img img{
    width: 50vw;
    height: 100%;
}
.about-txt{
    width: 30%;
    margin: 2em;
}
.about-txt h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #7619f0;
}
.about-education{
    width: 40vw;
}
.about-education{
    margin: 1em 0;
    color: #7619f0;
}
.OOU{
    width: 80%;
    height: 15vh;
    display: flex;
    border: 2px solid #7619f0;
    border-radius: 2em;
    margin: 1em 0;
    box-shadow: 2px 2px 2px 2px #7619f0;
}
.OOU img{
    width: 30%;
    height: 100%;
    border-right: 2px solid #7619f0;
}
.OOU-txt{
    text-align: center;
    align-self: center;
    margin: auto;
}
.hiit{
    width: 80%;
    height: 14vh;
    display: flex;
    border: 1px solid #7619f0;
    border-radius: 1em;
    margin: 1em 0;
    box-shadow: 2px 2px 2px 2px #7619f0;
    overflow: hidden;
}
.hiit img{
    width: 30%;
    height:100%;
    border-right: 2px solid #7619f0;
}
.hiit-txt{
    text-align: center;
    align-self: center;
    margin: auto;
}
.projects{
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.projects h3{
    color: #7619f0;
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.prjct{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.projects-done{
    width: 17%;
    height: 14vh;
    position: relative;
    border-bottom: 8px solid #7619f0;
    overflow: hidden;
    cursor: pointer; 
}  
.projects-done::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    background: #7619f0;
    opacity: 0;
    transition: .5s ease-in-out;
}
.projects-done:hover::after {
    top: 0;
    opacity: 0.6;
}

.projects-done a button img{
    width: 100%;
    height: 100%;
}


/* Contact section*/
.contact{
    width: 70%;
    height: 50vh;
    margin: 5em auto;
    background-color: #dbd1df;
}
.contact-1{
    width: 43vw;
    float: left;
    padding: 1em;
}
.contact h1{
    color: #7619f0;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.name-form{
    width: 100%;
    height: 30vh;
}
.form-line{
    height: 8vh;
    margin: 1em .7em;
    caret-color: #7619f0;
    border: none;
    border-bottom: 2px solid #7619f0;
    background-color: transparent;
}
.name{
    width: 46%;
    display: flex;
    float: left;
}
.email{
    width: 46%;
    display: flex;
    float: left;
}
.message{
    width: 73%;
    height: 21vh;
}
.form-button{
    width: 6rem;
    height: 4.8vh;
    border: none;
    border-radius: 1.4em;
    background-color: #7619f0;
    color: #f2f2f2;
    margin-right: 1em;
    cursor: pointer;
    float: right;

}
.form-button:hover{
    border: 3px solid #7619f0;
    background-color: #f2f2f2;
    color: #7619f0;
    transition: .5s ease-in-out;
}
input::placeholder, textarea::placeholder{
    color: #7619f0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contact-2{
    width: 20vw;
    height: 40vh;
    text-align: center;
    align-items: center;
    opacity: .8;
    display: flex;
    float: right;
    flex-direction: column;
    margin: 1em auto;
}
.contact-2 h1{
    margin: .3em auto;
}
address{
    margin: .5em;
    
    line-height: 1.3em;
}
.socials{
    width: 55vw;
    height: 10vh;
    margin: auto;
}
.socials ul{
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.socials ul li{
    list-style: none;
}
.socials ul li a {
    margin: 0 2em;
}
.socials ul li a img{
    width: 3vw;
    height: 6vh;
}
.nod{
    position: absolute;
    right: 1em;
    bottom: 2em;
    width: 2em;
    height: 2em;
    border-radius: 50em;
    background-color: #7619f0;
    border: none;
    color: #f2f2f2;
    font-size: 2.5em;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.nod:hover{
    border: 4px solid #7619f0;
    background-color: #f2f2f2;
    color: #7619f0;
}
@media only screen and (max-width: 768px) {
    .navbar {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    ul.active {
        left: 0;
    }

    nav ul li{
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

}
