:root {
    --primaryColor: #0080ff;
    --secondaryColor: #ffffff;
  }
*{
    margin: 0;
    padding: 0;
    line-height: 1.7em;
    scroll-behavior: smooth;

}
body{
    box-sizing: border-box;
    flex-wrap: wrap;
    position: relative;
}
#nod{
    width: 98vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    margin-top:-2vh;
    font-family: Cormorant;
    line-height:1.2;
    background-color: var(--secondaryColor);
    z-index: 1;
}
.logo{
    width: 30%;
    height: 80%;
    margin-left: 7vw;
}
.logo img{
    width: 65px;
    height: 55px;
    margin-top: 1.2vh;
}#cssmenu
{
    width:auto;
    margin-right: 5vw;
    display:block;
    text-align:center;
    font-family:Cormorant;
    line-height:1.2;
}
#cssmenu ul
{
    width:auto;
    display:block;
    font-size:0;
    text-align:center;
    color:#000000;
    border: transparent;
    margin:0; 
    padding:0;
    list-style:none;
    position:relative;
    z-index:999999990;
    border-radius: 3px;
} 

#cssmenu li
{
    display:inline-block;
    position:relative;    
    font-size:0; 
    margin:0;
    padding:0;
}


/*Top level items
---------------------------------------*/

#cssmenu >ul>li>span, #cssmenu >ul>li>a{   
    font-size:22px;
    color:inherit;
    text-decoration:none;
    padding:    10px 15px; 
    font-weight: 400;
    text-transform:uppercase;
    letter-spacing: 4px;   
    display:block;   
    position:relative;
    transition:all 0.3s;
}
#cssmenu li:hover > span, #cssmenu li:hover > a{
    color: var(--primaryColor);
}
.menu-icon-wrapper {
    display: none;
}
.container{
    width: 99.1vw;
    margin: auto;
    flex-wrap: wrap;
}
.home{
    width: 100%;
    height: 100vh;
    background: url(./img/fotis-fotopoulos-DuHKoV44prg-unsplash.svg);
    margin: auto;
    background-size:  cover;
    background-repeat: no-repeat;
    display: flex;
}
.home-image img{
    width: 40vw;
    height: 100vh;
    border-radius: 1em 0em 0em 1em;
}
.home-texts{
    width: 27em;
    height: 20em;
    margin: auto;
    align-items: center;
    background-color: var(--secondaryColor);
    opacity: .6;
    border-radius: 1rem;
}
.home-texts h1{
    font-size: 4em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    padding: .3em;
    border-bottom: 4px solid var(--primaryColor);
}
.home-texts h1 span{
    color: var(--primaryColor);
}
.home-texts p{
    font-size: 1.3em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    padding: .3em;
}

/* Experience section*/
.skills{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.skills div{
    width: 25em;
}
.skills-h2{
    color: var(--primaryColor);
    font-size: 2.3em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.skills ul{
    width: 100%;
    margin: auto;
}
.skills ul li{
    list-style: none;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
}

progress[value]{
    width: 90%;
    height: 1.2em;
    margin-top: 1em;
    margin-left: .5em;
    
}

/* about section*/
.about{
    width: 95%;
    height: 100vh;
    display: flex;
    margin: auto;
}
.about-img img{
    width: 50vw;
    height: 100%;
}
.about-txt{
    width: 30%;
    margin: 2em;
}
.about-txt h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--primaryColor);
}
.about-education{
    width: 40vw;
}
.about-education{
    margin: 1em 0;
    color: var(--primaryColor);
}
.OOU{
    width: 85%;
    height: 6em;
    display: flex;
    border: 2px solid var(--primaryColor);
    border-radius: 2em;
    margin: 1em 0;
    box-shadow: 2px 2px 2px 2px var(--primaryColor);
}
.OOU img{
    width: 35%;
    height: 100%;
    border-right: 2px solid var(--primaryColor);
}
.OOU-txt{
    text-align: center;
    align-self: center;
    margin: auto;
}
.hiit{
    width: 85%;
    height: 6em;
    display: flex;
    border: 1px solid var(--primaryColor);
    border-radius: 1em;
    margin: 1em 0;
    box-shadow: 2px 2px 2px 2px var(--primaryColor);
    overflow: hidden;
}
.hiit img{
    width: 30%;
    height:100%;
    border-right: 2px solid var(--primaryColor);
}
.hiit-txt{
    text-align: center;
    align-self: center;
    margin: auto;
}
.projects{
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.projects h3{
    color: var(--primaryColor);
    font-size: 1.5em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.prjct{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.projects-done{
    width: 17%;
    height: 13vh;
    position: relative;
    border-bottom: 8px solid var(--primaryColor);
    overflow: hidden;
    cursor: pointer; 
}  
.projects-done::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--primaryColor);
    opacity: 0;
    transition: .5s ease-in-out;
}
.projects-done:hover::after {
    top: 0;
    opacity: 0.6;
}

.projects-done a button img{
    width: 100%;
    height: 100%;
}


/* Contact section*/
.contact{
    width: 80vw;
    height: 50vh;
    margin: 5em auto;
    background-color: #cddef0;
    display: flex;
}
.contact-1{
    width: 50vw;
    height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
}
.contact h1{
    color: var(--primaryColor);
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.name-form{
    width: 100%;
    height: 30vh;
}
.form-line{
    height: 8vh;
    margin: 1em .7em;
    caret-color: var(--primaryColor);
    border: none;
    border-bottom: 2px solid var(--primaryColor);
    background-color: transparent;
}
.name{
    width: 46%;
    display: flex;
    float: left;
}
.email{
    width: 46%;
    display: flex;
    float: left;
}
.message{
    width: 100%;
    height: 15vh;
}
.form-button{
    width: 7em;
    height: 3em;
    border: none;
    border-radius: 1.4em;
    background-color: var(--primaryColor);
    color: var(--secondaryColor);
    cursor: pointer;
    align-self: flex-end;
}
.form-button:hover{
    border: 3px solid var(--primaryColor);
    background-color: #cddef0;
    color: var(--primaryColor);
    transition: .5s ease-in-out;
}
input::placeholder, textarea::placeholder{
    color: var(--primaryColor);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contact-2{
    width: 50%;
    height: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.contact-2 h1{
    margin: .3em auto;
}
address{
    margin: .5em;
}
.socials{
    width: 90%;
    height: 5vh;
    margin: auto;
    display: flex;
    justify-content: center;
}
.socials ul{
    display: flex;
    justify-content: space-between;
}
.socials ul li{
    list-style: none;
    display: inline-block;
}
.socials ul li a {
    margin: 0 1em;
}
.socials ul li a img{
    width: 3em;
    height: 3em;
}
@media only screen and (max-width: 868px) {
    .navbar {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: var(--secondaryColor);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    ul.active {
        left: 0;
    }

    nav ul li{
        margin: 2.5rem 0;
    }

    .hamburger, .menu-icon-wrapper {
        display: block;
        cursor: pointer;
    }

}


@media only screen and (max-width: 868px) {

.menu-icon {display:inline-block;}

    #cssmenu  {
        width:100%;
        display:none;
        background-color: var(--primaryColor);
        border:1px solid rgba(0,0,0,0.2);
        box-sizing:border-box;
        z-index:999999990;
        opacity: .9;
    }

    /*--begin mark1--*/

    #cssmenu  {
        position:fixed;top:0;bottom:0;left:0;right:0;height:100%!important;
        right:-100%;
        left:auto; box-shadow:-4px 0 2px rgba(0,0,0,0.3);
        transition:all 411ms cubic-bezier(.7, 0,1,.4);
    }

    #cssmenu.active {
        right:0;
        transition:all 411ms cubic-bezier(.16,.76,.45,1);
    }

    #mcmenu {z-index:1000000004;}
-fixed-bg {background:#000;z-index:1000000000;}
-fixed-bg.showing {display:block;opacity:0;}-fixed-bg.active {opacity:0.4;}
.menu-icon.active {position:fixed;top:12px;right:12px;z-index:1000000006;}

    /*--end mark1--*/

    #cssmenu ul  {
        background-color:transparent;
        transition:all 411ms ease;
        box-sizing:border-box;
        border:none;
        border-radius: 0;
    }

    #cssmenu .mobileHide {
        display:none;
    }

    #cssmenu li {
        text-align:center;
        display:block;
        position:static;
    }

    #cssmenu >ul>li>span, #cssmenu >ul>li>a 
    {       
        font-size:32px;
    }
    #cssmenu li:hover span, #cssmenu li:hover a {
        color:var(--secondaryColor);
        border: none;
    }
    .home-image{display: none;}
    .home{
        width: 97%;
        margin: auto;
    }
    .home-texts{
        width: 20em;
        height: 53vh;
    }
    .skills{
        width: 94%;
        margin: auto;
    }
    .about-img{display: none;}
    .about-txt, .about-education, .projects{width: 95%; margin: auto;}
    .about-education{
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .projects-done{
        height: 11vh;
        width: 23%;
        margin: 2px;
    }
    .socials{
        width: 90%;
    }
    .contact{
        width: 95%;
        height: 60vh;
        line-height: -1em;
    }
    .contact h1{
        font-size: 20px;
    }
    .name, .email{
        width: 80%;
    }
    .message{
        width: 90%;
        height: 5vh;
    }
    .form-button{
        margin-top: 2em;
    }
}
/*----------- menu-icon ----------------*/
.menu-icon-wrapper {
    padding:5px;
    text-align:right;
}
.menu-icon {
    padding:9px;
    cursor: pointer;
    outline: none;
    background-color:var(--primaryColor);
    border:1px solid transparent;
    border-radius:3px;
    transition: all 0.25s ease-out;
    user-select:none;
    box-sizing:content-box;
    font-size:0;
    position:relative;
}

.menu-icon.active{
    background-color:var(--primaryColor);
}
.three-line{
  width: 22px;
  height: 20px;
  position: relative;
  display: inline-block;
  font-size: 0;
}
.three-line span{
  background-color:#FFFFFF;
  position: absolute;
  border-radius: 2px;
  transition: transform .5s ease-in-out;
  width:100%;
  height: 2px;
  left: 0;
  transform: rotate(0);
}
.three-line span:nth-child(1){
  top:0;
}
.three-line span:nth-child(2){
  top:9px;
  visibility:visible;
}
.three-line span:nth-child(3){
  bottom:0;
}
.menu-icon.active .three-line span:nth-child(1){
  transform: rotate(225deg);
  top: 9px;
}
.menu-icon.active .three-line span:nth-child(2){
  transform: rotate(180deg);
  visibility:hidden;
}
.menu-icon.active .three-line span:nth-child(3){
  transform: rotate(315deg);
  top: 9px;
}
/*End of styles for mobile mode ########*/

@keyframes topItemAnimation{
  from {opacity: 0;  transform:translate3d(0, 10vh, 0);}
  to {opacity: 1; transform:translate3d(0, 0, 0);}
}
#cssmenu li a {animation:none;}
#cssmenu.active li a { animation: topItemAnimation 0.9s cubic-bezier(.16,.84,.44,1) 0.9s backwards;}
#cssmenu.active li:nth-of-type(1) a { animation: topItemAnimation 0.9s cubic-bezier(.16,.84,.44,1) 0.15s backwards;}
#cssmenu.active li:nth-of-type(2) a { animation: topItemAnimation 0.9s cubic-bezier(.16,.84,.44,1) 0.3s backwards;}
#cssmenu.active li:nth-of-type(3) a { animation: topItemAnimation 0.9s cubic-bezier(.16,.84,.44,1) 0.45s backwards;}
#cssmenu.active li:nth-of-type(4) a { animation: topItemAnimation 0.9s cubic-bezier(.16,.84,.44,1) 0.6s backwards;}
#cssmenu.active li:nth-of-type(5) a { animation: topItemAnimation 0.9s cubic-bezier(.16,.84,.44,1) 0.75s backwards;}@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { #cssmenu.active li a{animation:none!important;}}
/*--Style the menu-icon--*/
.menu-icon {border-radius:50%;margin-right:12px;}
.menu-icon.active {background-color:transparent;}

#mcmenu .hasdd .top-item:before {
  content: '';
  position: absolute;
  width: 100%;
  top:0; bottom:0; height:auto;background-color: rgba(255,255,255,0.1);
  left: 0;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

#mcmenu .hasdd .top-item:hover:before {
  visibility: visible;
  transform: scaleX(1);
}
